* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(209, 229, 255);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    line-height: 1.3;
    max-width: 1000px;
    margin: 0 auto;
    border: 3px solid steelblue;
    box-shadow: 3px 3px 12px 12px grey;
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid steelblue;
    background-image: linear-gradient(to left, steelblue, white);
}

header h2 {
    font-size: 300%;
    color: steelblue;
    font-style: italic;
    text-shadow: 3px 3px 6px gray;
}

a:link,
a:visited {
    color: steelblue;
}

a:hover {
    color: grey;
}

aside a {
    font-weight: bold;
}

aside a:visited {
    color: grey;
}

/* ******************************************************************
********************nav_menu*****************************************
****************************************************************** */

#nav_menu {
    border-bottom: 3px solid steelblue;
    background-color: steelblue;
}

#nav_menu ul {
    list-style-type: none;
    position: relative;
    display: flex;
}

#nav_menu li {
    width: 20%;
}

#nav_menu a {
    display: block;
    color: white;
    background-color: steelblue;
    text-align: center;
    padding: .7em 0;
    font-weight: bold;
    text-decoration: none;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

#nav_menu ul li:hover>ul {
    display: block;
}

#nav_menu ul ul li a {
    text-align: left;
    padding-left: .25em;
}

#nav_menu a:hover {
    color: rgb(35, 66, 91);
    background-color: lightsteelblue;
}

/* ******************************************
************nav_list*************************
****************************************** */

#nav_list h2 {
    margin: 25px 0;
    text-align: center;
}

#nav_list ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

#nav_list li {
    width: 90%;
    border: 1px solid steelblue;
    border-radius: 5px;
}

#nav_list a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    background-color: lightsteelblue;
    padding: .5em;
    color: black;
    border-radius: 5px;
}

#nav_list a:hover {
    background-color: steelblue;
    color: white;
}

main {
    display: flex;
}

section {
    max-width: 70%;
}

aside {
    width: 30%;
}

h1 {
    margin-left: 3%;
}

section p {
    margin: 0 3% 20px;
}

blockquote {
    margin: 0 15% 20px;
    padding: 7px;
    background-color: rgb(209, 224, 245);
    border-left: 8px solid steelblue;
    border-radius: 0 10px 10px 0;
}

section h2,
section h4, 
aside h2 {
    margin: 0 3% 20px;
}

/* aside h2 {
    margin-top: 25px;
    text-align: center;
} */

/* aside ul {
    margin-left: 8%;
    padding-left: 5%;
    line-height: 1.5;
} */

h4 {
    font-weight: normal;
}

footer {
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer p {
    padding: 20px 0;
    font-variant: small-caps;
}